@media (max-width: 1440px) {
  .menu {
    gap: 20px;
  }

  .logo,
  .footer-logo img {
    max-height: 70px;
  }

  .header-wrapper {
    min-height: 100px;
  }

  .section__title {
    font-size: 18px;
  }

  .menu,
  .main-button,
  .activity__description,
  .activity-list__item__description,
  .multiple-slider__slide__description,
  .footer {
    font-size: 16px;
  }

  .activity-list__item {
    font-size: 18px;
  }

  .section {
    padding: 20px 35px 30px 35px;
  }

  .history-links {
    padding: 30px 35px 20px 35px;
  }

  .trust,
  .activity-full {
    padding-bottom: 140px;
  }

  .footer-wrapper {
    gap: 30px;
  }

  .footer-links {
    display: flex;
    gap: 20px ;
  }

  .footer-copyright span {
    margin-right: 0;
  }

  .footer-wrapper,
  .footer-copyright {
    padding: 35px;
  }
}

@media(max-width: 992px) {
  .header-navigation {
    position: absolute;
    backdrop-filter: blur(10px);
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    right: 0;
    top: 100px;
    overflow-y: auto;
    transform: translateX(-120%);
  }

  .header-navigation_show {
    transform: translateX(0);
  }

  .btn-menu {
    display: block;
  }

  .btn-menu_hide {
    display: none;
  }
  
  .menu {
    display: block;
  }

  .menu__item {
    padding: 10px 0;
  }

  .activity-box {
    flex-wrap: wrap;
    gap: 0;
  }

  .activity-list {
    margin: 0;
  }

  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

 .footer-logo {
    width: 100%;
    text-align: center;
 }

 .footer-wrapper {
    gap: 20px;
  }

  .footer-links {
    display: flex;
    gap: 20px ;
  }

  .footer-links__link,
  .footer-contacts__contact {
    margin-bottom: 10px;
  }

  .footer-contacts__title {
    margin: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  .footer-links {
    width: 100%;
    display: block;
  }
  
  .footer-links__link {
    margin: 0;
  }


  .footer-contacts {
    width: 100%;
  }

  .footer-contacts__title {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .logo,
  .footer-logo img {
    max-height: 50px;
  }

  .section,
  .history-links,
  .footer-wrapper,
  .footer-copyright,
  .header-wrapper {
    padding: 20px;
  }

  .section__title {
    margin-bottom: 20px;
  }

  .trust,
  .activity-full {
    padding-bottom: 100px;
  }

  .activity-list__item__name {
    gap: 20px;
    margin-bottom: 20px;
  }

  .activity-list__item__description {
    margin: 0 0 20px 0;
    width: 100%;
  }
}