@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --light-brown: rgba(248, 188, 147, 1);
  --dark-brown: rgb(165, 96, 49);
  --main-blue:rgba(20, 89, 118, 1);
  --text-color: rgb(255, 255, 255);
}

::selection {
  background: var(--dark-brown);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--main-blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*-------------------------------------header--------------------------------*/

.header {
  width: 100%;
}

.header-wrapper {
  position: relative;
  min-height: 160px;
  max-width: 1920px;
  width: 100%;
  padding: 0 35px;
  margin: auto;
  border-bottom: solid 1.5px var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.logo {
  max-height: 94px;
}

.btn-menu {
  cursor: pointer;
  display: none;
  max-width: 50px;
  filter: invert(1);
}

/*----------------------------------------menu--------------------------------------*/

.header-navigation {
  transition: transform 0.5s;
}

.menu {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 35px;
  align-items: center;
}

.menu__item {
  text-transform: uppercase;
}

.menu__item_checked {
  color: var(--light-brown);
}

.main {
  flex: 1;
  width: 100%;
}


/*---------------------------------video-section--------------------------------------*/

.video {
  background-color: var(--light-brown);
  width: 100%;
  margin: 20px 0;
}

.video-wrapper {
  max-width: 1920px;
  width: 100%;
  position: relative;
  width: fit-content;
  margin: auto;
}

.video__image {
  width: 100%;
}

.video__text {
  display: none;
  margin: 0;
  position: absolute;
  top: 45%;
  right: 55%;
  transform:translate(-50%, -50%);
  margin: auto;
  font-family: Raleway;
  font-size: 128px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.32);
}

/*-------------------------------------section--------------------------------*/

.section {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 60px 170px 70px 170px;
}

.section__title {
  font-family: Raleway;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--light-brown);
  margin-top: 0;
  margin-bottom: 70px;
}

.main-button {
  width: 295px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-brown);
  border: none;
  color: var(--main-blue);
  border-radius: 35px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

/*-------------------------------------activity section--------------------------------*/

.activity {
  border-top: solid 1.5px var(--text-color);
  border-bottom: solid 1.5px var(--text-color);
}

.activity-box {
  display: flex;
  gap: 33px;
}

.activity__description {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 45px;
}

.activity-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.activity-list__item {
  padding: 0;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.activity-list__item__name {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;
  gap: 33px;
  margin-bottom: 33px;
  pointer-events: none;
}

.icon-wrapper {
  height: 64px;
  width: 64px;
}

.icon-wrapper img {
  width: 100%;
}

.activity-arrow {
  display: none;
  position: absolute;
  right: 0;
  pointer-events: none;
}

.activity-list__item__description {
  position: relative;
  display: none;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 500;
  max-height: 277px;
  overflow-y: auto;
  margin-bottom: 50px;
  margin-left: 90px;
  padding-bottom: 30px;
  padding-right: 10px;
  width: calc(100% - 90px);
  border-bottom: solid 1.5px var(--text-color);
  cursor: text;
}

.activity-list__item_checked .activity-list__item__description {
  display: block;
}
.activity-list__item_checked .activity-arrow {
  display: inline;
}

/*-------------------------------------news-section--------------------------*/

.news {
  border-bottom: solid 1.5px var(--text-color);
}

.news .main-button {
  margin-top: 74px;
}

/*----------------------------------trust-section-----------------------------*/

.trust {
  position: relative;
  padding-bottom: 220px;
}

.btn-top {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0;
}

/*-------------------------------------slider--------------------------------*/

.slick-arrow {
  width: 23px;
  height: 100px;
  background-color: var(--light-brown);
}

.multiple-slider__slide,
.company-slider__slide {
  width: 100%;
  cursor: grab;
}

.multiple-slider__slide {
  width: 664px;
  padding: 0 45px;
}

.company-slider__slide {
  width: 200px;
  padding: 0 45px;
}

.multiple-slider__slide__img,
.company-slider__slide__img {
  width: 100%;
}

.multiple-slider__slide__description {
  display: block;
  padding-top: 20px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
}

.slick-prev::before {
  content: url('../assets/images/svg/left.svg');
}

.slick-next::before {
  content: url('../assets/images/svg/right.svg');
}

.multiple-slider .slick-prev {
  margin-right: 100px;
}

/*-------------------------------------back-box------------------------------*/

.history-links {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  padding: 50px 170px 20px 170px;
  border-bottom: solid 1.5px var(--text-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.history-links__link {
  padding: 0 15px;
  border-right: solid 1px var(--text-color);
}

.history-links__link_checked {
  color: var(--light-brown);
}

.history-links__link:first-of-type {
  padding-left: 0;
}

.history-links__link:last-of-type {
  padding-right: 0;
  border: none;
}

/*-------------------------------------footer--------------------------------*/

.footer {
  width: 100%;
  color: var(--main-blue);
  background-color: var(--light-brown);

  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
}

.footer-wrapper {
  max-width: 1920px;
  padding-top: 44px;
  padding-bottom: 67px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 90px;
  border-bottom: solid 1.5px var(--main-blue);
}

.footer-links {
  display: flex;
  gap: 70px ;
}

.footer-links__link {
  display: block;
  margin-bottom: 23px;
}

.footer-links__link:last-of-type {
  margin-bottom: 0;
}

.footer-contacts__title {
  margin: 0 0 23px 0;
}

.footer-contacts__contact {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 23px;
}

.footer-contacts__contact:nth-of-type(2) {
  margin-bottom: 0;
}

.footer-contacts__contact__phone {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-copyright {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.footer-copyright {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  justify-content: flex-end;
}

.footer-copyright span {
  margin-right: 180px;
}

/*-------------------------------------scroll--------------------------------*/

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--light-brown);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-brown);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--light-brown);
}

.scroll-off {
  overflow: hidden;
}