@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root {
  --light-brown: rgba(248, 188, 147, 1);
  --main-blue:rgba(20, 89, 118, 1);
  --text-color: rgb(255, 255, 255);
}

::selection {
  background: var(--light-brown);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--main-blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
}

.header-wrapper {
  min-height: 160px;
  max-width: 1920px;
  width: 100%;
  padding: 0 35px;
  margin: auto;
  border-bottom: solid 1.5px var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.logo {
  max-height: 94px;
}

.menu {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 35px;
  align-items: center;
}

.menu__item {
  text-transform: uppercase;
}

.menu__item_checked {
  color: var(--light-brown);
}

.main {
  flex: 1;
  width: 100%;
}

.video {
  background-color: var(--light-brown);
  width: 100%;
  margin: 20px 0;
}

.video-wrapper {
  position: relative;
  width: fit-content;
  margin: auto;
}

.video__text {
  margin: 0;
  position: absolute;
  top: 45%;
  right: 55%;
  transform:translate(-50%, -50%);
  margin: auto;
  font-family: Raleway;
  font-size: 128px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.32);
}

.footer {
  width: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--light-brown);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-brown);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--light-brown);
}